{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html lang="">

<body id="top">
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>

      <h3 class="heading">QUALITY FOOD ITEMS</h3>
      <p>Register with us now and have quality food items at your door step</p>

    </article>
    <!-- ################################################################################################ -->
  </div>


  <div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->

    <section id="introblocks">
      <ul class="nospace group">
        {% for i in pr %}
        <li class="one_third">
          <figure><a class="imgover" href={{i.get__url}}><img src="{{i.img.url}}" alt="" style="height:200px; width:300px"></a>
            <figcaption>
              <h6 class="heading">{{i.name}}</h6>
              <p>{{i.des|truncatewords:10}}</p>
              <p>{{i.price}}/-</p>
            </figcaption>
          </figure>
        </li>
       {% endfor %}
      </ul>
    </section>

  </main>
 </div>

<script src="{% static 'hm/layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'hm/layout/scripts/jquery.mobilemenu.js' %}"></script>

</body>
</html>
{% endblock %}
